@page "/stafflogins/edit"
@using Microsoft.EntityFrameworkCore
@using Rhythmix_Music_Recommendation.Components.Domain
@inject IDbContextFactory<Rhythmix_Music_Recommendation.Data.Rhythmix_Music_RecommendationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>StaffLogin</h2>
<hr />
@if (StaffLogin is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="StaffLogin" OnValidSubmit="UpdateStaffLogin" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="StaffLogin.Id" value="@StaffLogin.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="StaffLogin.Name" class="form-control" />
                    <ValidationMessage For="() => StaffLogin.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <InputText id="password" @bind-Value="StaffLogin.Password" class="form-control" />
                    <ValidationMessage For="() => StaffLogin.Password" class="text-danger" />
                </div>
                
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/stafflogins">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private StaffLogin? StaffLogin { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        StaffLogin ??= await context.StaffLogin.FirstOrDefaultAsync(m => m.Id == Id);

        if (StaffLogin is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateStaffLogin()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(StaffLogin!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!StaffLoginExists(StaffLogin!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/stafflogins");
    }

    private bool StaffLoginExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.StaffLogin.Any(e => e.Id == id);
    }
}
