@page "/stafflogins"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Rhythmix_Music_Recommendation.Components.Domain
@using Rhythmix_Music_Recommendation.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Rhythmix_Music_Recommendation.Data.Rhythmix_Music_RecommendationContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="stafflogins/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.StaffLogin">
    <PropertyColumn Property="stafflogin => stafflogin.Name" />
    <PropertyColumn Property="stafflogin => stafflogin.Password" />

    <TemplateColumn Context="stafflogin">
        <a href="@($"stafflogins/edit?id={stafflogin.Id}")">Edit</a> |
        <a href="@($"stafflogins/details?id={stafflogin.Id}")">Details</a> |
        <a href="@($"stafflogins/delete?id={stafflogin.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Rhythmix_Music_RecommendationContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
