@inherits LayoutComponentBase

<div class="page">
    @* 1. Top Navigation Bar *@
    <NavMenu />

    @* 2. Main Body Area *@
    <main>
        <article class="content px-4">
            <div class="layout-wrapper">
                @* This is where your Home.razor content goes *@
                <section class="main-body">
                    @Body
                </section>
            </div>
        </article>

        @* 3. Footer *@
        <FooterMenu />
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


