@using Microsoft.AspNetCore.Components.Authorization
@implements IDisposable
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="top-row full-width-nav">

<ul class="main-top-nav-list">
    <li class="nav-item brand-item">
        <NavLink class="nav-link" href="">
            Rhythmix_Music_Recommendation
        </NavLink>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
        </NavLink>
    </li>

    

    <AuthorizeView>
                <Authorized>
                    <li class="nav-item">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="nav-link btn btn-link p-0">
                                <span class="bi bi-box-arrow-right"></span> Logout
                            </button>
                        </form>
                    </li>
                    <div class="nav-item px-3">
                        <NavLink span class="nav-link">
                            <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                        </NavLink>
                    </div>

                </Authorized>
        <NotAuthorized>
                    <li class="nav-item separated-right-group">
                        <NavLink class="nav-link" href="Account/Register">
                            <span class="bi bi-person-add" aria-hidden="true"></span> UserRegister
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Account/UserLogin">
                            <span class="bi bi-person-fill-lock" aria-hidden="true"></span> UserLogin
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Account/StaffLogin">
                            <span class="bi bi-shield-lock-fill" aria-hidden="true"></span> StaffLogin
                        </NavLink>
                    </li>
        </NotAuthorized>
    </AuthorizeView>

    
</ul>


    </div>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}