@page "/userregisters/create"
@using Microsoft.EntityFrameworkCore
@using Rhythmix_Music_Recommendation.Components.Domain
@inject IDbContextFactory<Rhythmix_Music_Recommendation.Data.Rhythmix_Music_RecommendationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Register</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="UserRegister" OnValidSubmit="AddUserRegister" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label> 
                <InputText id="username" @bind-Value="UserRegister.Username" class="form-control" /> 
                <ValidationMessage For="() => UserRegister.Username" class="text-danger" /> 
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <InputText id="password" @bind-Value="UserRegister.Password" class="form-control" />
                <ValidationMessage For="() => UserRegister.Password" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <InputText id="email" @bind-Value="UserRegister.Email" class="form-control" />
                <ValidationMessage For="() => UserRegister.Email" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private UserRegister UserRegister { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddUserRegister()
    {
        using var context = DbFactory.CreateDbContext();
        context.UserRegister.Add(UserRegister);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/userregisters");
    }
}
