@page "/userregisters/edit"
@using Microsoft.EntityFrameworkCore
@using Rhythmix_Music_Recommendation.Components.Domain
@inject IDbContextFactory<Rhythmix_Music_Recommendation.Data.Rhythmix_Music_RecommendationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>UserRegister</h2>
<hr />
@if (UserRegister is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="UserRegister" OnValidSubmit="UpdateUserRegister" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="UserRegister.Id" value="@UserRegister.Id" />
                <div class="mb-3">
                    <label for="username" class="form-label">Userame:</label>
                    <InputText id="username" @bind-Value="UserRegister.Username" class="form-control" />
                    <ValidationMessage For="() => UserRegister.Username" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <InputText id="password" @bind-Value="UserRegister.Password" class="form-control" />
                    <ValidationMessage For="() => UserRegister.Password" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="UserRegister.Email" class="form-control" />
                    <ValidationMessage For="() => UserRegister.Email" class="text-danger" />
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private UserRegister? UserRegister { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        UserRegister ??= await context.UserRegister.FirstOrDefaultAsync(m => m.Id == Id);

        if (UserRegister is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateUserRegister()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(UserRegister!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!UserRegisterExists(UserRegister!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/userregisters");
    }

    private bool UserRegisterExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.UserRegister.Any(e => e.Id == id);
    }
}
