@page "/userlogins/create"
@using Microsoft.EntityFrameworkCore
@using Rhythmix_Music_Recommendation.Components.Domain
@inject IDbContextFactory<Rhythmix_Music_Recommendation.Data.Rhythmix_Music_RecommendationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="UserLogin" OnValidSubmit="AddUserLogin" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label> 
                <InputText id="username" @bind-Value="UserLogin.Username" class="form-control" /> 
                <ValidationMessage For="() => UserLogin.Username" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <InputText id="password" @bind-Value="UserLogin.Password" class="form-control" />
                <ValidationMessage For="() => UserLogin.Password" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>


@code {
    [SupplyParameterFromForm]
    private UserLogin UserLogin { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddUserLogin()
    {
        using var context = DbFactory.CreateDbContext();
        context.UserLogin.Add(UserLogin);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/userlogins");
    }
}
