@page "/StaffPlaceholder"

<h3>StaffPlaceholder</h3>

<h5>Hello, we have not yet implemented a dedicated Staff and user log in page yet. Currently both can be logged in 
    via the UserLogin button.
</h5>

@code {

}
