@page "/playlists"

@using Microsoft.EntityFrameworkCore
@using Rhythmix_Music_Recommendation.Components.Domain
@using Rhythmix_Music_Recommendation.Data

@inject Rhythmix_Music_RecommendationContext DbContext
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavigationManager


<h2>My Playlists</h2>

<a class="btn btn-primary mb-3" href="/playlists/create">
    + New Playlist
</a>

@if (!playlists.Any())
{
    <p>You have no playlists.</p>
}
else
{
    @foreach (var playlist in playlists) ;
    @* {
        <div class="songrow">
            <div class="col-main">
                <img src="@playlist.CoverImageUrl"
                     alt="@playlist.Title"
                     style="width:128px;height:128px;object-fit:cover;border-radius:8px;"
                     onerror="this.onerror=null;this.src='/images/Placeholder_Image.jpg';" />
                <strong>@playlist.Title</strong>
                <div>@playlist.PlaylistSongs.Count songs</div>
            </div>

            <a class="btn btn-sm btn-outline-secondary"
                 @onclick="() => Edit(playlist.PlaylistId)" 
                    href="/playlists/edit/@playlist.PlaylistId">
                Edit
            </a>

             <button class="btn btn-sm btn-danger ms-2" @onclick="() => DeletePlaylist(playlist.PlaylistId)">Delete</button> 


        </div>
    } *@
}

@code {

    private List<Playlist> playlists = new();

    // private void Edit(int playId)
    // {
    //         string playIdString = playId.ToString();

    //         var playlistId = Uri.EscapeDataString(playIdString);
    //         NavigationManager.NavigateTo($"/playlists/edit/{playlistId}");
        
        
    // }

    private async Task<string?> GetUserId()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        return authState.User
            .FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)
            ?.Value;
    }

    // protected override async Task OnInitializedAsync()
    // {
    //     var userId = await GetUserId();

    //     if (userId == null)
    //         return;

    //     playlists = await DbContext.Playlists
    //         .Include(p => p.PlaylistSongs)
    //         .Where(p => p.UserId == userId)
    //         .ToListAsync();

    // }

    // private async Task DeletePlaylist(int playlistId)
    // {
    //     var playlist = await DbContext.Playlists.FindAsync(playlistId);
    //     if (playlist != null)
    //     {
    //         DbContext.Playlists.Remove(playlist);
    //         await DbContext.SaveChangesAsync();

    //         var userId = await GetUserId();

    //         //Refresh the list
    //         playlists = await DbContext.Playlists
    //             .Include(p => p.PlaylistSongs)
    //             .Where(p => p.UserId == userId)
    //             .ToListAsync();
    //         StateHasChanged();
    //     }
    // }

}
